  <% content_for :title, "Product || SHOPPING APP" %>
  <!------ Product Details------->
  <% if @products %>
    <section class="my-5">
      <div class="product-card">
        <div class="container">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <% @products.each do |product|%>
            <div class="col">
              <div class="card h-75">
              <% if product.product_image.attached? %>
                <%= image_tag product.product_image, class:"card-img-top" %>
              <% end %>  
                <div class="card-body">
                  <h5 class="card-title"><a href="/products/<%= product.id %>" class="text-decoration-none text-white"><%= product.title%></a><span class="float-end text-muted"><%= number_to_currency(product.price) %></span></h5>
                  <hr>
                  <p class="card-text text-white"><%= product.description.truncate(40) %></p>
                </div>
                <div class="card-footer">
                  <%= link_to "Edit", edit_product_path(product.id), class:"btn btn-theme-blue rounded-0" %>
                  <%= link_to "Destroy", product_path(product.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-theme-blue rounded-0 float-end" %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% else %>
    <h1 class="text-muted text-center">Product is not added yet!</h1>
  <% end %>
  <!------ Product Details Ended------->
  <%= link_to "Add Product", new_product_path, class:"btn btn-theme-blue rounded-0 mb-5" %>