<% content_for :title, "Show || SHOPPING APP" %>
<section class="show-product py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col-3">
          <div class="card h-100">
            <%= image_tag "product-1.jpg", class:"card-img-top", alt:"..." %>
          </div>
        </div>
        <div class="col-3">
          <div class="card h-100">
            <%= image_tag "product-2.jpg", class:"card-img-top", alt:"..." %>
          </div>
        </div>
        <div class="col-6">
          <h2 class="m-0 text-white"><%= @product.title %></h2>
            <p class="mb-3 rating">
              <%  @product.rating.to_i.times do  %>
                <span class="fas fa-star"></span>
              <% end %>
              <small class="text-muted">Rating</small>
            </p>
            <h2 class="font-weight-normal m-0 text-white"><%= number_to_currency(@product.price) %> </h2>
            <p class=""><i class="text-muted font-weight-bold text-white"><%= @product.sub_title %></i></p>
            <hr>
            <div class="description text-white">
              <%= @product.description %>
            </div>
            <button class="btn btn-theme-blue mt-3 rounded-0" type="button">Add to cart</button>
            <button class="btn btn-theme-blue mt-3 float-end rounded-0" type="button">Order</button>
        </div>
      </div>
    </div>
  </section>

  <%= link_to "Edit", edit_product_path(@product), class:"btn btn-theme-blue rounded-0 mb-5" %>
  <%= link_to "Destroy", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"btn btn-theme-blue rounded-0 mb-5" %>